body {
  height: 100vh;
  background: linear-gradient(135deg, #ccabac, #9b8a85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.title {
  color: #720d36;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 40px;
}

/* tombol umum */
.btn {
  padding: 15px 35px;
  font-size: 1.5em;
  border-radius: 50px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s ease;
}

/* YA */
.yes {
  background: #235224;
  color: white;
}

/* TIDAK */
.no {
  background: #cc6767;
  color: white;
  position: relative;
  animation: shake 1.2s infinite;
}

/* goyang */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-3px); }
  50% { transform: translateX(3px); }
  75% { transform: translateX(-3px); }
  100% { transform: translateX(0); }
}

/* teks ejekan */
.mock {
  position: absolute;
  top: -38px;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  color: #fff;
  padding: 6px 12px;
  font-size: 0.7em;
  border-radius: 12px;
  opacity: 0;
  transition: 0.3s;
  white-space: nowrap;
}

/* ejekan muncul */
.no.active .mock {
  opacity: 1;
}

/* pesan YA */
.message {
  margin-top: 30px;
  font-size: 1.3em;
  color: #300919;
  opacity: 0;
  transform: scale(0.9);
  transition: 0.4s ease;
}

.message.show {
  opacity: 1;
  transform: scale(1);
}
